**/.vs/
**/bin/
**/obj/
**/out/
**/*.user
**/*.suo
**/*.dbmdl
**/*.jfm
appsettings.Development.json
appsettings.Local.json
secrets.json
.git/
.github/
Dockerfile
docker-compose*
README.md
SECURITY.md
LICENSE
