## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

## Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings

## User secrets and local configuration
**/appsettings.Development.json
**/appsettings.Local.json
**/secrets.json

## OS
.DS_Store
Thumbs.db
